body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  min-height: calc(100vh - 70px - 64px);
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill,
  minmax(250px, 1fr));
  gap: 1rem;
}

label:not(:last-child) {
  margin-right: 1rem;
}

h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img {
  width: 25%;
  height: auto;
}